/* a {
  color: inherit;
  text-decoration: none;
} */

ul {
    list-style: none;
}

.banner {
  width: 520px;
  height: 280px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.imgs {
  width: calc(520 * 5px);
  transition: all .5s;
}

.imgs img {
  float: left;
  width: 520px;
  height: 280px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.arrow {
  width: 20px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: #fff;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.arrow:hover {
  background-color: #aaa;
}

.left {
  left: 0;
  border-radius: 0 20px 20px 0;
}

.right {
  right: 0;
  border-radius: 20px 0 0 20px;
}

.dots {
  position: absolute;
  /* width: 44px; */
  background-color: rgba(255, 255, 255, 0.5);
  left: 50%;
  margin-left: -22px;
  bottom: 10px;
  padding: 2px 4px;
  border-radius: 10px;
}

.dots span {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
}

.dots span.active {
    background-color: #ff4400;
}
