/* a {
  color: inherit;
  text-decoration: none;
} */

ul {
  list-style: none;
}

.banner {
  width: 520px;
  height: 280px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.imgs {
  /* 宽度不固定的，用行内样式写，然后再用js改 */
  /* width: calc(520 * 5px); */
  transition: all 0.5s;
}

.imgs img {
  float: left;
  width: 520px;
  height: 280px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.arrow .item {
  width: 20px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: #fff;
  line-height: 30px;
  /* 箭头不在圆角地方，所以不居中 */
  /* text-align: center; */
  cursor: pointer;
}

.banner .arrow {
  display: none;
}

.banner:hover .arrow {
  display: block;
}

.arrow .item:hover {
  /* background-color: #aaa; */
  background-color: rgba(0, 0, 0, 0.5);
}

.arrow .left {
  left: 0;
  /* 左上、右上、右下、左下 */
  border-radius: 0 20px 20px 0;
  padding-left: 2px;
  box-sizing: border-box;
}

.arrow .right {
  right: 0;
  border-radius: 20px 0 0 20px;
  padding-left: 8px;
  box-sizing: border-box;
}

.dots {
  position: absolute;
  /* width: 44px; */
  background-color: rgba(255, 255, 255, 0.5);
  left: 50%;
  margin-left: -22px;
  bottom: 10px;
  padding: 2px 4px;
  border-radius: 10px;
}

.dots span {
  float: left;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}

.dots span.active {
  background-color: #ff4400;
}
